<div data-role="view" id="view-all-activities"  data-layout="default" class="activities-view" data-model="activitiesViewModel">
    <header data-role="header">
        <div data-role="navbar">
            Activities
            <a class="nav-button" data-align="left" data-role="backbutton" data-click="activitiesViewModel.logout">Log out</a>
            <a class="nav-button" data-align="right" data-role="button" data-icon="add" href="views/addActivityView.html"></a>
        </div>
    </header>
  


    <ul id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate"
        data-bind="source: activities"></ul>
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no posts yet.</b><br /><br />Tap on the plus sign and share what's on your mind.
    </p>
</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">
    <div data-role="touch" data-bind="events: { tap: activitySelected }">
        <div class="user-info">
          <h2>${User().DisplayName}</h2>
          <time class="timeSpan">${ScheduleDatetFormatted()}</time>
          <span>10/6</span>
        </div>
        <div class="user-share">
          <table>
            <tr>
              <td>
                <h4>Address:</h4>
              </td> 
              <td>
                <a class="user-share-txt">${Address}</a>
              </td> 
            </tr>
            <tr>
              <td>
                <h4>Subject:</h4>
              </td> 
              <td>
               <a class="user-share-txt">${Text}</a>
              </td> 
            </tr>
          </table>
        </div>
    </div>
</script>